<!DOCTYPE html>
<html>
<head>
    <title>Budget Manager</title>
</head>
<body>
    <header>
        <h1>Budget Manager</h1>
        <nav>
            <ul>
                <li><a href="{% url 'expense_list' %}">Home</a></li>
                <li><a href="{% url 'add_expense' %}">Add Expense</a></li>
                <li><a href="{% url 'account_logout' %}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
